    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('/service-worker.js');
    }
    </script>
    <script src="/js/script.js"></script>
</body>
</html>
