<% include partials/head.ejs %>
    <div class="main">
        <h1>Maak je eigen boodschappenlijst</h1>

        <div class="shopping-list">
            <div class="grocerys">
                <div class="grocerys-wrapper">
                    <h3>Boodschappenlijst</h3>
                    <ul>
                        <% for (var i = 0; i < grocerys.length; i++) { %>
                            <li><%= grocerys[i] %><span class="remove">X</span></li>
                        <% } %>
                    </ul>

                    <a class="empty" href="/empty">Leeg de lijst</a>
                </div>
            </div>

            <div class="ingredients">
                <form method="POST" action="/">
                    <fieldset class="ingredient">
                        <legend>Voeg Brood toe aan boodschappenlijst</legend>
                        <img id="0" draggable src="../images/bread.png" alt="brood" title="brood">
                        <input type="submit" value="brood" name="grocery">
                    </fieldset>

                    <fieldset class="ingredient">
                        <legend>Voeg kaas toe aan boodschappenlijst</legend>
                        <img id="1" draggable src="../images/cheese.png" alt="Kaas" title="Kaas">
                        <input type="submit" value="Kaas" name="grocery">
                    </fieldset>

                    <fieldset class="ingredient">
                        <legend>Voeg kaas toe aan boodschappenlijst</legend>
                        <img id="2" draggable src="../images/ham.png" alt="Ham" title="Ham">
                        <input type="submit" value="Ham" name="grocery">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer.ejs %>
